<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>
           Timestamp microservice.
        </h1>
        <p>
          How to use:
        </p>
        <p>
          Send either a unix timestamp or a human readable date as a paramter and get both back :D
        </p>
        <p>
          For example:
        </p>
        <p>
          <a href="https://nifty-sleep.glitch.me/1506783358">
            <code>https://nifty-sleep.glitch.me/1506783358</code>
          </a>
          <br>
          <a href="https://nifty-sleep.glitch.me/august-16-1986">
            <code>https://nifty-sleep.glitch.me/august-16-1986</code>
          </a>
        </p>
      </div>
   </body>

</html>
